html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--rose) var(--cotton);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--cotton);
}
::-webkit-scrollbar-thumb {
  background: var(--rose);
  border-radius: 3px;
}
